.education-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.education-table-header-row {
}

.education-table-header {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    margin: 10px 0;
    text-align: left;
    background-color: #f0f0f0;
    padding: 10px;
}

.education-table-detail {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.education-table-data {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 10px 0;
}